---
title: "Header Slider"
---
<div class="header-slider owl-theme" data-require="base/views/header_slider_nav">
    <div>
        {{#each this.items}}
        <div class="header-slider__item">
            <picture>
                <source media="(min-width: 75rem)" srcset="{{largeImage}}">
                <source media="(min-width: 62rem)" srcset="{{desktopImage}}">
                <source media="(min-width: 48rem)" srcset="{{tabletImage}}">
                <img class="header-slider__item__image-preview" src="{{mobileImage}}" alt="" />
            </picture>
            {{#if this.videoMp4}}
            <div class="header-slider__item__video">
                <video>
                    <source src="{{videoMp4}}" type='video/mp4'>
                    <source src="{{videoWebm}}" type='video/webm'>
                    <source src="{{videoOgg}}" type="video/ogg">
                </video>
            </div>
            {{/if}}

            <div class="header-slider__item__text text-full-width">
                <h3>{{text}}</h3>
                <p>{{sub}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>



